<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>cunweihui</display-name>
  <servlet>
    <description> 
		</description>
    <display-name>YezhuServlet</display-name>
    <servlet-name>YezhuServlet</servlet-name>
    <servlet-class>
		bao.servlet.YezhuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>WuziServlet</display-name>
    <servlet-name>WuziServlet</servlet-name>
    <servlet-class>
		bao.servlet.WuziServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>DistributeServlet</display-name>
    <servlet-name>DistributeServlet</servlet-name>
    <servlet-class>
		bao.servlet.DistributeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>TousuServlet</display-name>
    <servlet-name>TousuServlet</servlet-name>
    <servlet-class>
		bao.servlet.TousuServlet</servlet-class>
  </servlet>
 
 
  <servlet>
    <description>
		</description>
    <display-name>DistributeSearch_Servlet</display-name>
    <servlet-name>DistributeSearch_Servlet</servlet-name>
    <servlet-class>
		bao.servlet.DistributeSearch_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YezhuServlet</servlet-name>
    <url-pattern>/YezhuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WuziServlet</servlet-name>
    <url-pattern>/WuziServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DistributeServlet</servlet-name>
    <url-pattern>/DistributeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TousuServlet</servlet-name>
    <url-pattern>/TousuServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DistributeSearch_Servlet</servlet-name>
    <url-pattern>/DistributeSearch_Servlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>qianruSearch_Servlet</display-name>
    <servlet-name>qianruSearch_Servlet</servlet-name>
    <servlet-class>bao.servlet.qianruSearch_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qianruSearch_Servlet</servlet-name>
    <url-pattern>/qianruSearch_Servlet</url-pattern>
  </servlet-mapping>
</web-app>